/* Body */
body {
    margin: 0;
    padding: 0;
    position: relative;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

body * {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Navbar & Sidebar */
#navbarDefault * {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Dashboard */
.dashboard-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.kpi-card {
    border-left: 4px solid;
}

.progress-thin {
    height: 3px;
}

/* Cartographie */
#mapContainer {
    height: 100vh;
    border-radius: 0.5rem;
    z-index: 1;
}

#sidebarDefault * {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Cards */
.card-float {
    transition: all 0.3s ease;
}

.card-float:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

td {
    padding: 8px !important;
}

/* Select2 */
.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #cbd0dd;
    border-radius: 5px;
    cursor: text;
    outline: 0;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
    height: 40px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    padding: 2px;
}

/* Rapports */
.indicator-card {
    border-left: 4px solid;
    transition: all 0.3s;
}

.indicator-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.positive-evolution {
    color: #dc3545;
}

.negative-evolution {
    color: #28a745;
}

/* Icones */
.icon-font{
    font-family: 'FontAwesome', 'sans-serif';
    font-weight: 900;
}

.modal-content {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    animation: modal-appear 0.5s ease-out;
}

@keyframes modal-appear {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.cookie-icon {
    font-size: 2.5rem;
    margin-right: 15px;
    color: #fff;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.cookie-type {
    flex: 1;
    min-width: 200px;
    border: 1px solid #e9ecef;
    padding: 15px;
    background: #f8f9fa;
    transition: all 0.3s;
}

.cookie-type:hover {
    border-color: #42822f;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.cookie-type h6 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #42822f;
}

.form-check-input:checked {
    background-color: #42822f;
    border-color: #42822f;
}

.privacy-link {
    color: #42822f;
    text-decoration: none;
    font-weight: 500;
}

.privacy-link:hover {
    text-decoration: underline;
}
